{# Section #carousel-owl-base #}
<div class="container-fluid my-5 bg-light">
    <div class="row">
        <div class="col-12 my-5">
            <h1>Section #carousel-owl-base</h1>
            <p>id: #carousel-owl-base</p>
        </div>
        <div class="col-12 text-center my-5">
            <div class="owl-carousel owl-theme" id="carousel-owl-base">
                {% for item_post in archive_posts %}
                    <div>
                        <img src="{{ placeholder }}/1400x1000/?wallpapers" alt="" class="img-fluid">
                        <h4>{{ loop.index }}. {{ item_post.title }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>

    #carousel-owl-base button:focus,
    #carousel-owl-base button:focus-visible {
        outline: none;
    }

    /* owl-nav */
    #carousel-owl-base .owl-nav {
        position: absolute;
        top: -48px;
        right: 15px;
    }

    #carousel-owl-base .owl-nav button.owl-next,
    #carousel-owl-base .owl-nav button.owl-prev {
        background: var(--a5t-primary);;
        color: #ffffff;
        width: 30px;
        height: 30px;
        border: none;
        margin: 3px;
        border-radius: 50%;
        font-size: 19px;
    }

    /* owl-dots */
    #carousel-owl-base .owl-dots {
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }

    #carousel-owl-base .owl-dots .owl-dot {
        background: var(--a5t-primary);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 4px;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    #carousel-owl-base .owl-dots button.owl-dot.active {
        background: var(--a5t-secondary);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 4px;
    }

</style>
<script>
    $(document).ready(function () {
        $("#carousel-owl-base").owlCarousel({
            loop: true,
            margin: 20,
            responsiveClass: true,
            nav: true,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {
                /* Extra small devices (portrait phones, less than 576px) */
                0: {
                    items: 1,
                    nav: true
                },
                /* Small devices (landscape phones, 576px and up) */
                576: {
                    items: 1,
                    nav: true
                },
                /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
                768: {
                    items: 3,
                    nav: false
                },
                /* Large devices (desktops, 992px and up) */
                992: {
                    items: 3,
                    nav: true,
                    loop: false
                },
                /* Extra large devices (large desktops, 1200px and up) */
                1200: {
                    items: 3,
                    nav: true,
                    loop: false
                }
            },
        });
    });
</script>
{# end Section #carousel-owl-base  #}