{# Section #contact-form-style-1 #}
<div class="container my-5 bg-light">
    <div class="row ">
        <div class="col-12 my-5">
            <h1>Section #contact-form-style-1</h1>
            <p>id: #contact-form-style-1</p>
        </div>
        <div class="col-12 my-5">
            <section id="contact-form-style-1">
                {{ function('do_shortcode', '[contact-form-7 id="18" title="Contact Form 1"]') }}
            </section>
        </div>
    </div>
</div>
{# end Section #contact-form-style-1 #}

{# Section #contact-form-style-2 #}
<div class="container my-5 bg-light">
    <div class="row ">
        <div class="col-12 my-5">
            <h1>Section #contact-form-style-2</h1>
            <p>id: #contact-form-style-2</p>
        </div>
        <div class="col-12 my-5">
            <section id="contact-form-style-2">
                {{ function('do_shortcode', '[contact-form-7 id="18" title="Contact Form 1"]') }}
            </section>
        </div>
    </div>
</div>
{# end Section #contact-form-style-2 #}



