{# Section #section-page-header #}
<style>
    .section-page-header {
        background-image: url('{{ placeholder }}/1800x200/?nature');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>

<section class="section-page-header bg-primary text-white" >
    <div class="container">
        <div class="row">
            <div class="col py-3 py-sm-4 py-md-5">
                <h3 class="m-0">{{ title }}</h3>
                {{ breadcrumbs }}
            </div>
        </div>
    </div>
</section>

{# end Section #section-page-header #}
