/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::    * A_SETTINGS INDEX CSS
:::::::::::::: 01 * A_SETTINGS Media query example
:::::::::::::: 02 * A_SETTINGS import example.css
:::::::::::::: 03 * A_SETTINGS add admin.css
:::::::::::::: 04 * A_SETTINGS Color
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/*::::::::::::::::::
:::::::::::::: 01 * A_SETTINGS Media query example
::::::::::::::::::*/

/*

// Small devices (landscape phones, 576px and up) 			// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) { ... } 							@media (max-width: 575.98px) { ... }

// Medium devices (tablets, 768px and up)					// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) { ... }							@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Large devices (desktops, 992px and up)					// Medium devices (tablets, 768px and up)
@media (min-width: 992px) { ... }							@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Extra large devices (large desktops, 1200px and up)		// Large devices (desktops, 992px and up)
@media (min-width: 1200px) { ... }							@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-only(xs) { ... }	@include media-breakpoint-up(sm) { ... }	@include media-breakpoint-down(xs) { ... }
@include media-breakpoint-only(sm) { ... }	@include media-breakpoint-up(md) { ... }	@include media-breakpoint-down(sm) { ... }
@include media-breakpoint-only(md) { ... }	@include media-breakpoint-up(lg) { ... }	@include media-breakpoint-down(md) { ... }
@include media-breakpoint-only(lg) { ... }	@include media-breakpoint-up(xl) { ... }	@include media-breakpoint-down(lg) { ... }

*/

/*::::::::::::::::::
:::::::::::::: 02 * A_SETTINGS import example.css
::::::::::::::::::*/

/*
@import url("example.css");
 */

/*::::::::::::::::::
:::::::::::::: 03 * A_SETTINGS add admin.css
::::::::::::::::::*/

@import url("wp-admin.css");

/*::::::::::::::::::
:::::::::::::: 04 * A_SETTINGS Color
::::::::::::::::::*/

:root {

    --a5t-primary: #0000E5;
    --a5t-secondary: #FFFF33;
    --a5t-tertiary: #8080F2;
    --a5t-quaternary: #CCCCFA;

    --red-salsa: #f94144ff;
    --orange-red: #f3722cff;
    --yellow-orange-color-wheel: #f8961eff;
    --mango-tango: #f9844aff;
    --maize-crayola: #f9c74fff;
    --pistachio: #90be6dff;
    --zomp: #43aa8bff;
    --cadet-blue: #4d908eff;
    --queen-blue: #577590ff;
    --cg-blue: #277da1ff;
}


