@charset "UTF-8";
/*::::::::::::::::::::::::::::
::::::::::::::    * A_SETTINGS INDEX CSS
::::::::::::::      Note:
:::::::::::::: 01 * A_SETTINGS Import
::::::::::::::      Note: Impostazioni per css per M portal
:::::::::::::: 02 * A_SETTINGS Font
::::::::::::::      Note: Impostazioni font
:::::::::::::: 03 * A_SETTINGS Color
::::::::::::::      Note: Impostazioni colori
:::::::::::::: 04 * A_SETTINGS Background Color
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 05 * A_SETTINGS Text Color
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 06 * A_SETTINGS Main Section
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 07 * A_SETTINGS font
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 08 * A_SETTINGS img-hover
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 09 * A_SETTINGS jarallax
::::::::::::::      Note: Impostazioni per css jarallax-keep-img
:::::::::::::: 10 * A_SETTINGS animate
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 11 * A_SETTINGS sticky-menu
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 12 * A_SETTINGS primary-menu
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 13 * A_SETTINGS shadow
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 14 * A_SETTINGS radius
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 15 * A_SETTINGS button a5t
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 16 * A_SETTINGS button
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 17 * A_SETTINGS cf7
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 18 * A_SETTINGS cf7
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 19 * A_SETTINGS loader
::::::::::::::      Note: impostazioni per modificare il loader
:::::::::::::: 20 * A_SETTINGS gototop
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 21 * A_SETTINGS sidenav
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 22 * A_SETTINGS menu mobile
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 23 * A_SETTINGS equal cols
::::::::::::::      Note: Impostazioni per css
:::::::::::::: 24 * A_SETTINGS magic-mouse-js
::::::::::::::      Note: Impostazioni per togliere il cursore definitivamente
:::::::::::::: 25 * A_SETTINGS progress-js
::::::::::::::      Note: Impostazioni per togliere il cursore definitivamente
:::::::::::::: 26 * A_SETTINGS breakpoints
::::::::::::::      Note: Impostazioni per togliere il cursore definitivamente
::::::::::::::::::*/
/*::::::::::::::::::::::::::::
:::::::::::::: 01 * A_SETTINGS Import
::::::::::::::      Note: Impostazioni per css per M portal
::::::::::::::::::*/
/*::::::::::::::::::::::::::::
:::::::::::::: 02 * A_SETTINGS Font
::::::::::::::      Note: Impostazioni font
::::::::::::::::::*/
@import url("font/roboto/stylesheet.css");
/*::::::::::::::::::::::::::::
:::::::::::::: 03 * A_SETTINGS Color
::::::::::::::      Note: Impostazioni colori
::::::::::::::::::*/
:root {
  --a5t-primary: #0000E5;
  --a5t-secondary: #FFFF33;
  --a5t-tertiary: #8080F2;
  --a5t-quaternary: #CCCCFA;
  --a5t-primary-rgb: 0, 0, 255;
  --a5t-secondary-rgb: 255, 255, 51;
  --a5t-primary-rgba: 0, 0, 255, 1;
  --a5t-secondary-rgab: 255, 255, 51, 1;
  --red-salsa: #f94144ff;
  --orange-red: #f3722cff;
  --yellow-orange-color-wheel: #f8961eff;
  --mango-tango: #f9844aff;
  --maize-crayola: #f9c74fff;
  --pistachio: #90be6dff;
  --zomp: #43aa8bff;
  --cadet-blue: #4d908eff;
  --queen-blue: #577590ff;
  --cg-blue: #277da1ff; }

/*::::::::::::::::::::::::::::
:::::::::::::: 04 * A_SETTINGS Background Color
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.bg-primary {
  background: #0000E5 !important; }

.bg-secondary {
  background: #FFFF33 !important; }

.bg-tertiary {
  background: #8080F2 !important; }

.bg-quaternary {
  background: #CCCCFA !important; }

.bg-black {
  background: #000000 !important; }

.bg-black-50 {
  background: #808080 !important; }

.bg-black-20 {
  background: #CCCCCC !important; }

.bg-black-5 {
  background: #F2F2F2 !important; }

.bg-primary-half-white {
  background: #0000E5;
  background: -moz-linear-gradient(0deg, #0000E5 50%, #ffffff 50%);
  background: -webkit-linear-gradient(0deg, #0000E5 50%, #ffffff 50%);
  background: linear-gradient(0deg, #0000E5 50%, #ffffff 50%); }

/*::::::::::::::::::::::::::::
:::::::::::::: 05 * A_SETTINGS Text Color
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.color-primary {
  color: #0000E5; }

.color-secondary {
  color: #FFFF33; }

.color-tertiary {
  color: #8080F2; }

.color-quaternary {
  color: #CCCCFA; }

.color-black {
  color: #000000; }

/*::::::::::::::::::::::::::::
:::::::::::::: 06 * A_SETTINGS Main Section
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0; }

footer {
  position: relative;
  width: 100%; }

.breadcrumb {
  /*
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  */
  background-color: transparent;
  padding: 0.25rem 0rem;
  margin-bottom: 0rem; }
  .breadcrumb a {
    color: #FFFF33; }
  .breadcrumb a:hover {
    color: #8080F2; }
  .breadcrumb .breadcrumb_last {
    color: #ffffff; }

/*::::::::::::::::::::::::::::
:::::::::::::: 07 * A_SETTINGS font
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: "Montserrat", sans-serif; }

h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  font-variation-settings: 'slnt' 0;
  color: #0000E5;
  text-decoration: none;
  background-color: transparent;
  transition: 0.7s all ease-in-out; }

a:hover {
  color: #FFFF33;
  font-variation-settings: 'slnt' 12;
  text-decoration: none; }

.a5t-underline {
  color: #0000E5 !important;
  text-decoration: solid;
  text-decoration-line: underline;
  text-decoration-style: inherit;
  text-decoration-color: #0000E5; }

/*::::::::::::::::::::::::::::
:::::::::::::: 08 * A_SETTINGS img-hover
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.img-hover .img-hover-inner {
  position: relative;
  overflow: hidden; }

.img-hover .img-hover-inner img {
  transition: all 0.7s;
  transform: scale(1); }

.img-hover:hover .img-hover-inner img {
  transform: scale(1.1); }

/*::::::::::::::::::::::::::::
:::::::::::::: 09 * A_SETTINGS jarallax
::::::::::::::      Note: Impostazioni per css jarallax-keep-img
::::::::::::::::::*/
.jarallax-keep-img {
  position: relative;
  z-index: 0; }

.jarallax-keep-img > .jarallax-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -100; }

.loaded .jarallax-keep-img:before {
  content: '';
  opacity: 0;
  transition: 1s all ease-in-out;
  transition-delay: 0.9s;
  z-index: 10; }

.jarallax-keep-img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000E5;
  opacity: 1; }

.loaded .img-hover-inner:before {
  content: '';
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transition-delay: 0.9s;
  z-index: 10; }

.img-hover-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000E5;
  opacity: 1; }

/*::::::::::::::::::::::::::::
:::::::::::::: 10 * A_SETTINGS animate
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s; }

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

/*::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS sticky-menu
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
header .sticky-fix {
  position: fixed;
  width: 100%;
  top: -126px;
  z-index: 1;
  transition: 0.4s all ease-out 0.5s;
  background: #ffffff; }

header .sticky-in {
  top: 0;
  background: #ffffff; }

/*::::::::::::::::::::::::::::
:::::::::::::: 12 * A_SETTINGS primary-menu
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.navbar-toggler {
  color: #0000E5; }

button.navbar-toggler:focus,
button.navbar-toggler:focus-visible {
  outline: none; }

#header-1 #primary-menu li,
#header-2 #primary-menu li {
  list-style: none; }
  #header-1 #primary-menu li a,
  #header-2 #primary-menu li a {
    text-decoration: none;
    position: relative;
    color: #0000E5;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all ease-in-out;
    padding: 10px 14px; }
#header-1 #primary-menu li:hover a,
#header-2 #primary-menu li:hover a {
  color: #8080F2; }
#header-1 #primary-menu li a:before,
#header-2 #primary-menu li a:before {
  content: '';
  width: 20%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 2px;
  background: #0000E5;
  position: absolute;
  transition: 0.7s all ease-in-out; }
#header-1 #primary-menu li:hover > a:before,
#header-2 #primary-menu li:hover > a:before {
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 2px;
  background: #8080F2;
  position: absolute;
  transition: 0.7s all ease-in-out; }
#header-1 #primary-menu li.current_page_item > a:before,
#header-2 #primary-menu li.current_page_item > a:before {
  content: '';
  width: 50%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 2px;
  background: #CCCCFA;
  position: absolute;
  transition: 0.7s all ease-in-out; }
#header-1 #primary-menu li.current_page_item > a,
#header-2 #primary-menu li.current_page_item > a {
  color: #CCCCFA;
  transition: 0.7s all ease-in-out; }
#header-1 #primary-menu .dropdown:hover > .dropdown-menu,
#header-2 #primary-menu .dropdown:hover > .dropdown-menu {
  display: block; }
#header-1 #primary-menu .dropdown-toggle:hover:after,
#header-2 #primary-menu .dropdown-toggle:hover:after {
  display: inline-block; }

#header-2 .nav-mobile#primary-menu li {
  display: block !important;
  text-align: center; }
  #header-2 .nav-mobile#primary-menu li a {
    font-size: 20px;
    text-transform: uppercase; }
#header-2 .nav-mobile#primary-menu .dropdown-menu {
  background-color: transparent; }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS menu mobile
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.full-menu-logo {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

/*::::::::::::::::::::::::::::
:::::::::::::: 13 * A_SETTINGS shadow
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.a5t-shadow-1 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); }

/*::::::::::::::::::::::::::::
:::::::::::::: 14 * A_SETTINGS radius
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.a5t-radius-10 {
  border-radius: 10px; }

.a5t-img-radius-top-10 {
  border-radius: 0 0 10px 10px; }

.a5t-img-radius-bottom-10 {
  border-radius: 10px 10px 0 0; }

/*::::::::::::::::::::::::::::
:::::::::::::: 15 * A_SETTINGS button a5t
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.a5t-btn {
  font-size: 19px;
  background: none;
  color: blue;
  border: none;
  margin: 4px auto;
  transition: all 0.7s; }

/*footer .a5t-btn {
  color: $white;
}*/
.a5t-btn:hover {
  color: rgba(var(secondary-rgb));
  text-decoration: none; }

.a5t-btn:before {
  content: '';
  display: block;
  width: 30px;
  margin-top: 28px;
  height: 2px;
  background: #ffff33;
  position: absolute;
  transition: 0.7s all ease-in-out; }

.a5t-btn:hover::before {
  width: 80px;
  background: blue; }

/*::::::::::::::::::::::::::::
:::::::::::::: 16 * A_SETTINGS button
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.btn {
  border-radius: 4px;
  padding: 0.545em 1em;
  text-align: center;
  display: inline-block;
  letter-spacing: .02em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid;
  line-height: 1;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  /*Standard*/
  /*
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.375rem 1.75rem;
  transition: all 0.3s ease-in-out;
  */ }
  .btn .btn-circle {
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 25px;
    font-size: 22px;
    text-align: center; }

.btn-primary {
  color: #ffffff;
  background: #0000E5;
  border-color: #0000E5;
  transition: all 0.3s ease; }
  .btn-primary:hover {
    color: #4c4cff;
    background: #0000b2;
    border-color: #0000b2; }
  .btn-primary:active {
    background: #00004c;
    border-color: #00004c; }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #00004c;
    border-color: #00004c; }
  .btn-primary.disabled, .btn-primary:disabled {
    opacity: 0.10;
    background: #00004c;
    border-color: #00004c; }
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #1919ff; }

.btn-secondary {
  color: #ffffff;
  background: #FFFF33;
  border-color: #FFFF33;
  transition: all 0.3s ease; }
  .btn-secondary:hover {
    color: #ffff99;
    background: yellow;
    border-color: yellow; }
  .btn-secondary:active {
    background: #999900;
    border-color: #999900; }
  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background: #999900;
    border-color: #999900; }
  .btn-secondary.disabled, .btn-secondary:disabled {
    opacity: 0.10;
    background: #999900;
    border-color: #999900; }
  .btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem #ffff66; }

.btn-tertiary {
  color: #ffffff;
  background: #8080F2;
  border-color: #8080F2;
  transition: all 0.3s ease; }
  .btn-tertiary:hover {
    color: #ddddfb;
    background: #5252ed;
    border-color: #5252ed; }
  .btn-tertiary:active {
    background: #1414c5;
    border-color: #1414c5; }
  .btn-tertiary:not(:disabled):not(.disabled).active, .btn-tertiary:not(:disabled):not(.disabled):active, .show > .btn-tertiary.dropdown-toggle {
    background: #1414c5;
    border-color: #1414c5; }
  .btn-tertiary.disabled, .btn-tertiary:disabled {
    opacity: 0.10;
    background: #1414c5;
    border-color: #1414c5; }
  .btn-tertiary.focus, .btn-tertiary:focus {
    box-shadow: 0 0 0 0.2rem #aeaef7; }

.btn-quaternary {
  color: #ffffff;
  background: #CCCCFA;
  border-color: #CCCCFA;
  transition: all 0.3s ease; }
  .btn-quaternary:hover {
    color: white;
    background: #9e9ef5;
    border-color: #9e9ef5; }
  .btn-quaternary:active {
    background: #4141ec;
    border-color: #4141ec; }
  .btn-quaternary:not(:disabled):not(.disabled).active, .btn-quaternary:not(:disabled):not(.disabled):active, .show > .btn-quaternary.dropdown-toggle {
    background: #4141ec;
    border-color: #4141ec; }
  .btn-quaternary.disabled, .btn-quaternary:disabled {
    opacity: 0.10;
    background: #4141ec;
    border-color: #4141ec; }
  .btn-quaternary.focus, .btn-quaternary:focus {
    box-shadow: 0 0 0 0.2rem #fafaff; }

/*::::::::::::::::::::::::::::
:::::::::::::: 17 * A_SETTINGS cf7
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
                    /*::::::::::::::::::::::::::::
:::::::::::::: 18 * A_SETTINGS cf7
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
#contact-form-style-1 label {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  width: 100%; }
#contact-form-style-1 .wpcf7-form-control,
#contact-form-style-1 input,
#contact-form-style-1 .form-control {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  height: auto;
  padding: .375rem .75rem;
  margin: 5px 0px 20px;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: all 0.8s ease-in-out; }
#contact-form-style-1 .form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.1rem; }
#contact-form-style-1 input[type="text"],
#contact-form-style-1 .wpcf7-text,
#contact-form-style-1 input[type="textarea"],
#contact-form-style-1 .wpcf7-textarea,
#contact-form-style-1 input[type="email"],
#contact-form-style-1 .wpcf7-email,
#contact-form-style-1 input[type="tel"],
#contact-form-style-1 .wpcf7-tel {
  border: none;
  border-bottom: solid 3px #808080;
  background: #F2F2F2; }
#contact-form-style-1 .wpcf7-select,
#contact-form-style-1 input[type="select"],
#contact-form-style-1 .wpcf7-date,
#contact-form-style-1 input[type="date"],
#contact-form-style-1 .wpcf7-checkbox,
#contact-form-style-1 input[type="checkbox"],
#contact-form-style-1 .wpcf7-radio,
#contact-form-style-1 input[type="radio"] {
  width: auto;
  border: none; }
#contact-form-style-1 .wpcf7-form-control:focus,
#contact-form-style-1 input:focus,
#contact-form-style-1 .form-control:focus {
  background-color: transparent;
  color: #000000;
  border-bottom: 3px solid #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(204, 204, 204, 0.5) !important; }
#contact-form-style-1 .wpcf7-select:focus,
#contact-form-style-1 input[type="select"]:focus,
#contact-form-style-1 .wpcf7-date:focus,
#contact-form-style-1 input[type="date"]:focus,
#contact-form-style-1 .wpcf7-checkbox:focus,
#contact-form-style-1 input[type="checkbox"]:focus,
#contact-form-style-1 .wpcf7-radio:focus,
#contact-form-style-1 input[type="radio"]:focus,
#contact-form-style-1 .wpcf7-file:hover,
#contact-form-style-1 input[type="file"]:focus {
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(204, 204, 204, 0); }
#contact-form-style-1 .wpcf7-list-item {
  display: block; }
#contact-form-style-1 .wpcf7-acceptance .wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 2em; }
#contact-form-style-1 .wpcf7-select,
#contact-form-style-1 input[type="select"],
#contact-form-style-1 .wpcf7-date,
#contact-form-style-1 input[type="date"] {
  border: none;
  border-bottom: solid 3px #808080;
  background: #F2F2F2; }
#contact-form-style-1 .wpcf7-select:focus,
#contact-form-style-1 input[type="select"]:focus,
#contact-form-style-1 .wpcf7-date:focus,
#contact-form-style-1 input[type="date"]:focus {
  border-bottom: 3px solid #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(204, 204, 204, 0.5) !important; }
#contact-form-style-1 ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1;
  /* Firefox */ }
#contact-form-style-1 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #808080;
  opacity: 1; }
#contact-form-style-1 ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #808080;
  opacity: 1; }
#contact-form-style-1 .wpcf7 .ajax-loader::before {
  display: none; }
#contact-form-style-1 .wpcf7 .ajax-loader {
  background: url("../img/loading.gif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 124px;
  height: 36px;
  bottom: -15px;
  border-radius: 0;
  display: inline-block; }
#contact-form-style-1 .wpcf7-submit {
  width: auto; }

#contact-form-style-2 label {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  width: 100%; }
#contact-form-style-2 .wpcf7-form-control,
#contact-form-style-2 input,
#contact-form-style-2 .form-control {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  height: auto;
  padding: .375rem .75rem;
  margin-top: 20px;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  transition: all 0.8s ease-in-out; }
#contact-form-style-2 .form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.1rem; }
#contact-form-style-2 input[type="text"],
#contact-form-style-2 .wpcf7-text,
#contact-form-style-2 input[type="textarea"],
#contact-form-style-2 .wpcf7-textarea,
#contact-form-style-2 input[type="email"],
#contact-form-style-2 .wpcf7-email,
#contact-form-style-2 input[type="tel"],
#contact-form-style-2 .wpcf7-tel {
  border: none;
  border-bottom: solid 3px #FFFF33; }
#contact-form-style-2 .wpcf7-select,
#contact-form-style-2 input[type="select"],
#contact-form-style-2 .wpcf7-date,
#contact-form-style-2 input[type="date"],
#contact-form-style-2 .wpcf7-checkbox,
#contact-form-style-2 input[type="checkbox"],
#contact-form-style-2 .wpcf7-radio,
#contact-form-style-2 input[type="radio"] {
  width: auto;
  border: none; }
#contact-form-style-2 .wpcf7-form-control:focus,
#contact-form-style-2 input:focus,
#contact-form-style-2 .form-control:focus {
  background-color: transparent;
  color: #0000E5;
  border-bottom: 3px solid #0000E5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--a5t-secondary-rgb), 0.5) !important; }
#contact-form-style-2 .wpcf7-select:focus,
#contact-form-style-2 input[type="select"]:focus,
#contact-form-style-2 .wpcf7-date:focus,
#contact-form-style-2 input[type="date"]:focus,
#contact-form-style-2 .wpcf7-checkbox:focus,
#contact-form-style-2 input[type="checkbox"]:focus,
#contact-form-style-2 .wpcf7-radio:focus,
#contact-form-style-2 input[type="radio"]:focus,
#contact-form-style-2 .wpcf7-file:hover,
#contact-form-style-2 input[type="file"]:focus {
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(var(--a5t-secondary-rgb), 0); }
#contact-form-style-2 .wpcf7-list-item {
  display: block; }
#contact-form-style-2 .wpcf7-acceptance .wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 2em; }
#contact-form-style-2 .wpcf7-select,
#contact-form-style-2 input[type="select"],
#contact-form-style-2 .wpcf7-date,
#contact-form-style-2 input[type="date"] {
  border: none;
  border-bottom: solid 3px #FFFF33; }
#contact-form-style-2 .wpcf7-select:focus,
#contact-form-style-2 input[type="select"]:focus,
#contact-form-style-2 .wpcf7-date:focus,
#contact-form-style-2 input[type="date"]:focus {
  background-color: transparent;
  color: #0000E5;
  border-bottom: 3px solid #0000E5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--a5t-secondary-rgb), 0.5) !important; }
#contact-form-style-2 ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0000E5;
  opacity: 1;
  /* Firefox */ }
#contact-form-style-2 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0000E5;
  opacity: 1; }
#contact-form-style-2 ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0000E5;
  opacity: 1; }
#contact-form-style-2 .wpcf7 .ajax-loader::before {
  display: none; }
#contact-form-style-2 .wpcf7 .ajax-loader {
  background: url("../img/loading.gif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 124px;
  height: 36px;
  bottom: -15px;
  border-radius: 0;
  display: inline-block; }
#contact-form-style-2 .wpcf7-submit {
  width: auto; }

/*::::::::::::::::::::::::::::
:::::::::::::: 19 * A_SETTINGS loader
::::::::::::::      Note: impostazioni per modificare il loader
::::::::::::::      Note: effetto al caricamento della pagina composto da logo sezioni e loader
::::::::::::::      Note: L'evento che fa avviare è la classe 'loaded' posizionato nel body
::::::::::::::::::*/
#main-content {
  filter: blur(13px);
  -webkit-filter: blur(13px);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #main-content {
  filter: unset;
  -webkit-filter: unset; }

header {
  filter: blur(13px);
  -webkit-filter: blur(13px);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded header {
  filter: unset;
  -webkit-filter: unset; }

.preload {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80; }

/* loader medium */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  z-index: 83;
  animation: spin 2s linear infinite; }

/* loader small */
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  animation: spin 3s linear infinite; }

/* loader big */
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  animation: spin 1.5s linear infinite; }

/* loader logo */
.logo-loader {
  transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 82;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  width: 100px;
  height: 100px; }

/* loader sections */
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: #0000E5;
  /*background: rgba(var(--a5t-primary-rgb), 0.4);*/
  z-index: 80;
  transform: translateX(0);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

/* loader sections directions */
#loader-wrapper .loader-section.section-left {
  left: 0;
  opacity: 1; }

#loader-wrapper .loader-section.section-right {
  right: 0;
  opacity: 1; }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
/* loader loaded effect exit */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-in-out; }

.loaded .logo-loader {
  opacity: 0;
  width: 0px;
  height: 0px; }

.loaded .loader-background {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 0px; }

.loader-background {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1140px;
  height: 100vh;
  background: #0000E5;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 82; }

.loaded .section-header {
  opacity: 1;
  transition: all 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.section-header {
  opacity: 0;
  margin-top: unset; }

/*::::::::::::::::::::::::::::
:::::::::::::: 20 * A_SETTINGS gototop
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
#gototop-btn {
  display: none;
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0000E5;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%; }

/*::::::::::::::::::::::::::::
:::::::::::::: 21 * A_SETTINGS sidenav
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.sidenav.sidenav-open .container {
  opacity: 1;
  transition-delay: 0.0s;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.sidenav.sidenav-close .container {
  opacity: 0;
  transition-delay: 0.5s;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #FFFF33;
  overflow-x: hidden;
  transition: 0.5s;
  /*padding-top: 60px;*/
  text-align: center; }

/*::::::::::::::::::::::::::::
:::::::::::::: 22 * A_SETTINGS menu mobile
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.full-menu-logo {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

/*::::::::::::::::::::::::::::
:::::::::::::: 23 * A_SETTINGS equal cols
::::::::::::::      Note: Impostazioni per css
::::::::::::::::::*/
.row.equal-cols {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap; }

.row.equal-cols:before,
.row.equal-cols:after {
  display: block; }

.row.equal-cols > [class*='col-'] {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.row.equal-cols > [class*='col-'] > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.row.equal-cols .tease {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*::::::::::::::::::::::::::::
:::::::::::::: 24 * A_SETTINGS magic-mouse-js
::::::::::::::      Note: Impostazioni per togliere il cursore definitivamente
::::::::::::::::::*/
body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid #8080F2;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none; }

body #magicMouseCursor.cursor-square {
  border-radius: 0; }

body #magicPointer {
  height: 8px;
  width: 8px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  background: #8080F2;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s; }

body #magicPointer.is-hover {
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  position: fixed;
  background: #FFFF33;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s; }

body #magicPointer.pointer-blur {
  height: 50px;
  width: 50px;
  background: none;
  border: 1px solid #FFFF33;
  box-shadow: 0px 0px 15px -5px #FFFF33; }

body #magicPointer.pointer-overlay {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  background: #FFFF33;
  box-shadow: 0px 0px 0px 0px #FFFF33; }

body .magic-hover {
  transition: all 0.2s; }

body .magic-hover:hover {
  cursor: none; }

/*::::::::::::::::::::::::::::
:::::::::::::: 25 * A_SETTINGS progress-js
::::::::::::::      Note: Impostazioni per togliere il cursore definitivamente
::::::::::::::::::*/
#nprogress .bar {
  background: #FFFF33; }

#nprogress .peg {
  box-shadow: 0 0 10px #FFFF33, 0 0 5px #FFFF33; }

#nprogress .spinner-icon {
  border-top-color: #FFFF33;
  border-left-color: #FFFF33; }

/*::::::::::::::::::::::::::::
:::::::::::::: 26 * A_SETTINGS breakpoints
::::::::::::::      Note: Impostazioni per togliere il cursore definitivamente
::::::::::::::      Note:Bootstrap 4 breakpoints
::::::::::::::      Note:Extra small devices (portrait phones, less than 576px)
::::::::::::::      Note:No media query since this is the default in Bootstrap because it is "mobile first"
::::::::::::::::::*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/* Custom media queries Set width to make card deck cards 100% width */
/* TODO readme paletta colori dedicata alle note todo */
/*
f94144,f3722c,f8961e,f9844a,f9c74f,90be6d,43aa8b,4d908e,577590,277da1
https://coolors.co/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1
*/

/*# sourceMappingURL=main.css.map */
