/* TODO readme paletta colori dedicata alle note todo */
/*
f94144,f3722c,f8961e,f9844a,f9c74f,90be6d,43aa8b,4d908e,577590,277da1
https://coolors.co/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1
*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::    * A_SETTINGS Media query
::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*
// Small devices (landscape phones, 576px and up) 			// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) { ... } 							@media (max-width: 575.98px) { ... }

// Medium devices (tablets, 768px and up)					// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) { ... }							@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Large devices (desktops, 992px and up)					// Medium devices (tablets, 768px and up)
@media (min-width: 992px) { ... }							@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Extra large devices (large desktops, 1200px and up)		// Large devices (desktops, 992px and up)
@media (min-width: 1200px) { ... }							@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-only(xs) { ... }	@include media-breakpoint-up(sm) { ... }	@include media-breakpoint-down(xs) { ... }
@include media-breakpoint-only(sm) { ... }	@include media-breakpoint-up(md) { ... }	@include media-breakpoint-down(sm) { ... }
@include media-breakpoint-only(md) { ... }	@include media-breakpoint-up(lg) { ... }	@include media-breakpoint-down(md) { ... }
@include media-breakpoint-only(lg) { ... }	@include media-breakpoint-up(xl) { ... }	@include media-breakpoint-down(lg) { ... }

*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * Mportal
::::::::::::::      Impostazioni per css per M portal
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*
@import url("style-custom.css");
 */

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::    * A_SETTINGS INDEX CSS
::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::







/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS Font
::::::::::::::      Impostazioni font
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@import url("font/roboto/stylesheet.css");

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Aleo', sans-serif;

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS Color
::::::::::::::      Impostazioni colori
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

$primary: #0000E5;
$primary-rgb: rgb(0, 0, 255);
$primary-rgba: rgba(0, 0, 255, 1);

$secondary: #FFFF33;
$secondary-rgb: rgb(255, 255, 51);
$secondary-rgba: rgba(255, 255, 51, 1);

$tertiary: #8080F2;
$tertiary-rgb: rgb(128, 128, 242);
$tertiary-rgba: rgba(0, 0, 255, 0.5);

$quaternary: #CCCCFA;
$quaternary-rgb: rgb(204, 204, 250);
$quaternary-rgba: rgba(0, 0, 255, 0.2);


$white: #ffffff;

$black: #000000;
$black-rgb: rgb(0, 0, 0);
$black-rgba: rgba(0, 0, 0, 1);

$black-50: #808080;
$black-50-rgb: rgb(128, 128, 128);
$black-50-rgba: rgba(0, 0, 0, 0.5);

$black-20: #CCCCCC;
$black-20-rgb: rgb(204, 204, 204);
$black-20-rgba: rgba(0, 0, 0, 0.2);

$black-5: #F2F2F2;
$black-5-rgb: rgb(242, 242, 242);
$black-5-rgba: rgba(0, 0, 0, 0.05);


:root {

  --a5t-primary: #0000E5;
  --a5t-secondary: #FFFF33;
  --a5t-tertiary: #8080F2;
  --a5t-quaternary: #CCCCFA;

  --a5t-primary-rgb: 0, 0, 255;
  --a5t-secondary-rgb: 255, 255, 51;

  --a5t-primary-rgba: 0, 0, 255, 1;
  --a5t-secondary-rgab: 255, 255, 51, 1;

  --red-salsa: #f94144ff;
  --orange-red: #f3722cff;
  --yellow-orange-color-wheel: #f8961eff;
  --mango-tango: #f9844aff;
  --maize-crayola: #f9c74fff;
  --pistachio: #90be6dff;
  --zomp: #43aa8bff;
  --cadet-blue: #4d908eff;
  --queen-blue: #577590ff;
  --cg-blue: #277da1ff;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS Background Color
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@mixin bg-custom($bg) {
  background: $bg !important;
}

.bg-primary {
  @include bg-custom($primary);
}

.bg-secondary {
  @include bg-custom($secondary);
}

.bg-tertiary {
  @include bg-custom($tertiary);
}

.bg-quaternary {
  @include bg-custom($quaternary);
}

.bg-black {
  @include bg-custom($black);
}

.bg-black-50 {
  @include bg-custom($black-50);
}

.bg-black-20 {
  @include bg-custom($black-20);
}

.bg-black-5 {
  @include bg-custom($black-5);
}

.bg-primary-half-white {
  background: $primary;
  background: -moz-linear-gradient(0deg, $primary 50%, $white 50%);
  background: -webkit-linear-gradient(0deg, $primary 50%, $white 50%);
  background: linear-gradient(0deg, $primary 50%, $white 50%);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS Text Color
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@mixin color-custom($color) {
  color: $color;
}

.color-primary {
  @include color-custom($primary);
}

.color-secondary {
  @include color-custom($secondary);
}

.color-tertiary {
  @include color-custom($tertiary);
}

.color-quaternary {
  @include color-custom($quaternary);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS Main Section
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
body {
  font-family: $font-primary;
  color: $primary;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {

}

footer {
  position: relative;
  width: 100%;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS font
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

p {
  margin-bottom: 0;
}

.a5t-p-sx {
  font-size: 9px;
  line-height: 11px;
  margin-bottom: 0;
}

.a5t-p-sm {

}

.a5t-p-md {

}

.a5t-p-lg {

}

span {

}

b {
  font-weight: bold;
  font-style: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, {
  font-family: $font-secondary;
}

h1, .h1, {
  font-weight: 300;
}

h2, .h2, {
  font-weight: normal;
}

h2, .h2, {
  font-family: $font-primary;
  font-weight: 300;
}

h4, .h4,
h5, .h5,
h6, .h6, {
  font-family: $font-primary;
}


h1 a, h2 a, h3 a {
  font-weight: 300;
}

a {
  // font-variation-settings: 'wght' 900;
  font-variation-settings: 'slnt' 0;
  font-weight: bold;
  color: $primary;
  text-decoration: none;
  background-color: transparent;
  transition: 0.7s all ease-in-out;
}

a:hover {
  // color: darken($tertiary, 20%);

  color: $secondary;

  // border-radius: 3px;
  // font-variation-settings: 'wght' 300;
  font-variation-settings: 'slnt' 12;
  text-decoration: none;
}

.bg-secondary {
  a:hover {
    // color: darken($tertiary, 20%);
    color: $tertiary;
  }
}


.a5t-underline {
  color: $primary !important;
  text-decoration: solid;
  text-decoration-line: underline;
  text-decoration-style: inherit;
  text-decoration-color: $primary;
}

ul {

}

li {

}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS img-hover
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.img-hover .img-hover-inner {
  position: relative;
  overflow: hidden;
}

.img-hover .img-hover-inner img {
  transition: all 0.7s;
  transform: scale(1);
}

.img-hover:hover .img-hover-inner img {
  transform: scale(1.1);
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS jarallax
::::::::::::::      Impostazioni per css jarallax-keep-img
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.jarallax-keep-img {
  position: relative;
  z-index: 0;

}

.jarallax-keep-img > .jarallax-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -100;
}


.loaded .jarallax-keep-img:before {
  content: '';
  opacity: 0;
  transition: 1s all ease-in-out;
  transition-delay: 0.9s;
  z-index: 10;
}

.jarallax-keep-img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary;
  // background: linear-gradient(0deg, rgba(240,250,249,1) 0%, rgba(87,201,187,1) 100%);
  opacity: 1;
}

.loaded .img-hover-inner:before {
  content: '';
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transition-delay: 0.9s;
  z-index: 10;
}

.img-hover-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary;
  // background: linear-gradient(0deg, rgba(240,250,249,1) 0%, rgba(87,201,187,1) 100%);
  opacity: 1;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS animate
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS sticky-menu
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
header .sticky-fix {
  position: fixed;
  width: 100%;
  top: -126px;
  z-index: 1;
  transition: 0.4s all ease-out 0.5s;
  background: $white;

}

header .sticky-in {
  top: 0;
  background: $white;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS primary-menu
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.navbar-toggler {
  color: $primary;
}

button.navbar-toggler:focus, button.navbar-toggler:focus-visible {
  outline: none;
}

#header-1 #primary-menu, #header-2 #primary-menu {

  li {
    list-style: none;

    a {
      text-decoration: none;
      position: relative;
      color: $primary;
      font-size: 14px;
      font-weight: 700;
      font-family: $font-secondary;
      display: block;
      overflow: hidden;
      transition: 0.7s all ease-in-out;
      padding: 10px 14px;
    }
  }

  li:hover a {
    color: $secondary;
  }

  li a:before {
    content: '';
    width: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background: $secondary;
    position: absolute;
    transition: 0.7s all ease-in-out;
  }

  li:hover > a:before {
    content: '';
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background: $tertiary;
    position: absolute;
    transition: 0.7s all ease-in-out;
  }

  li.current_page_item > a:before {
    content: '';
    width: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background: $quaternary;
    position: absolute;
    transition: 0.7s all ease-in-out;
  }

  li.current_page_item > a {
    color: $quaternary;
    transition: 0.7s all ease-in-out;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
    text-align: center;
  }

  .dropdown-toggle:hover:after {
    display: inline-block;
  }

}

#header-2 .nav-mobile#primary-menu {
  li {
    display: block !important;
    text-align: center;

    a {
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  .dropdown-menu {
    background-color: transparent;
  }
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS shadow
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.a5t-shadow-1 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS radius
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.a5t-radius-10 {
  border-radius: 10px;
}

.a5t-img-radius-top-10 {
  border-radius: 0 0 10px 10px;
}

.a5t-img-radius-bottom-10 {
  border-radius: 10px 10px 0 0;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS button a5t
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.a5t-btn {
  font-size: 19px;
  background: none;
  color: $primary-rgb;
  border: none;
  margin: 4px auto;
  transition: all 0.7s;
}

/*footer .a5t-btn {
  color: $white;
}*/

.a5t-btn:hover {
  color: rgba(var(secondary-rgb));
  text-decoration: none;
}

.a5t-btn:before {
  content: '';
  display: block;
  width: 30px;
  margin-top: 28px;
  height: 2px;
  background: $secondary-rgb;
  position: absolute;
  transition: 0.7s all ease-in-out;
}

.a5t-btn:hover::before {
  width: 80px;
  background: $primary-rgb;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS button
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.btn {
  border-radius: 4px;
  padding: 0.545em 1em;
  text-align: center;
  display: inline-block;
  letter-spacing: .02em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid;
  line-height: 1;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;

  /*Standard*/
  /*
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.375rem 1.75rem;
  transition: all 0.3s ease-in-out;
  */
  .btn-circle {
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 25px;
    font-size: 22px;
    text-align: center;
  }
}


@mixin btn-color($bg) {
  color: $white;
  background: $bg;
  border-color: $bg;
  transition: all 0.3s ease;
  &:hover {
    color: lighten($bg, 20%);
    background: darken($bg, 10%);
    border-color: darken($bg, 10%);
  }
  &:active {
    background: darken($bg, 30%);
    border-color: darken($bg, 30%);
  }
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  .show > &.dropdown-toggle {
    background: darken($bg, 30%);
    border-color: darken($bg, 30%);
  }
  &.disabled, &:disabled {
    opacity: 0.10;
    background: darken($bg, 30%);
    border-color: darken($bg, 30%);
  }
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem lighten($bg, 10%);
  }
}

.btn-primary {
  @include btn-color($primary);
}

.btn-secondary {
  @include btn-color($secondary);
}

.btn-tertiary {
  @include btn-color($tertiary);
}

.btn-quaternary {
  @include btn-color($quaternary);
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS cf7
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS cf7
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#contact-form-style-1 {

  label {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
  }

  .wpcf7-form-control,
  input,
  .form-control {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $black;
    height: auto;
    padding: .375rem .75rem;
    margin: 5px 0px 20px;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: all 0.8s ease-in-out;
  }

  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.1rem;
  }


  input[type="text"],
  .wpcf7-text,
  input[type="textarea"],
  .wpcf7-textarea,
  input[type="email"],
  .wpcf7-email,
  input[type="tel"],
  .wpcf7-tel {
    border: none;
    border-bottom: solid 3px $black-50;
    background: $black-5;
  }

  .wpcf7-select,
  input[type="select"],
  .wpcf7-date,
  input[type="date"],
  .wpcf7-checkbox,
  input[type="checkbox"],
  .wpcf7-radio,
  input[type="radio"] {
    width: auto;
    border: none;
  }

  .wpcf7-form-control:focus,
  input:focus,
  .form-control:focus {
    background-color: transparent;
    color: $black;
    border-bottom: 3px solid $black;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($black-20-rgb, 0.5) !important;
  }

  .wpcf7-select:focus,
  input[type="select"]:focus,
  .wpcf7-date:focus,
  input[type="date"]:focus,
  .wpcf7-checkbox:focus,
  input[type="checkbox"]:focus,
  .wpcf7-radio:focus,
  input[type="radio"]:focus,
  .wpcf7-file:hover,
  input[type="file"]:focus {
    border: none;
    box-shadow: 0 0 0 0.2rem rgba($black-20-rgb, 0);
  }

  .wpcf7-list-item {
    display: block;
  }

  .wpcf7-acceptance .wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 2em;
  }

  .wpcf7-select,
  input[type="select"],
  .wpcf7-date,
  input[type="date"] {
    border: none;
    border-bottom: solid 3px $black-50;
    background: $black-5;
  }

  .wpcf7-select:focus,
  input[type="select"]:focus,
  .wpcf7-date:focus,
  input[type="date"]:focus {
    border-bottom: 3px solid $black;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($black-20-rgb, 0.5) !important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $black-50;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $black-50;
    opacity: 1;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $black-50;
    opacity: 1;
  }

  .wpcf7 .ajax-loader::before {
    display: none;
  }

  .wpcf7 .ajax-loader {
    background: url('../img/loading.gif') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 124px;
    height: 36px;
    bottom: -15px;
    border-radius: 0;
    display: inline-block;
  }

  .wpcf7-submit {
    width: auto;
  }
}


#contact-form-style-2 {

  label {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
  }

  .wpcf7-form-control,
  input,
  .form-control {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $black;
    height: auto;
    padding: .375rem .75rem;
    margin-top: 20px;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: all 0.8s ease-in-out;
  }

  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.1rem;
  }


  input[type="text"],
  .wpcf7-text,
  input[type="textarea"],
  .wpcf7-textarea,
  input[type="email"],
  .wpcf7-email,
  input[type="tel"],
  .wpcf7-tel {
    border: none;
    border-bottom: solid 3px $secondary;
  }

  .wpcf7-select,
  input[type="select"],
  .wpcf7-date,
  input[type="date"],
  .wpcf7-checkbox,
  input[type="checkbox"],
  .wpcf7-radio,
  input[type="radio"] {
    width: auto;
    border: none;
  }

  .wpcf7-form-control:focus,
  input:focus,
  .form-control:focus {
    background-color: transparent;
    color: $primary;
    border-bottom: 3px solid $primary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(var(--a5t-secondary-rgb), 0.5) !important;
  }

  .wpcf7-select:focus,
  input[type="select"]:focus,
  .wpcf7-date:focus,
  input[type="date"]:focus,
  .wpcf7-checkbox:focus,
  input[type="checkbox"]:focus,
  .wpcf7-radio:focus,
  input[type="radio"]:focus,
  .wpcf7-file:hover,
  input[type="file"]:focus {
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(var(--a5t-secondary-rgb), 0);
  }

  .wpcf7-list-item {
    display: block;
  }

  .wpcf7-acceptance .wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 2em;
  }

  .wpcf7-select,
  input[type="select"],
  .wpcf7-date,
  input[type="date"] {
    border: none;
    border-bottom: solid 3px $secondary;
  }

  .wpcf7-select:focus,
  input[type="select"]:focus,
  .wpcf7-date:focus,
  input[type="date"]:focus {
    background-color: transparent;
    color: $primary;
    border-bottom: 3px solid $primary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(var(--a5t-secondary-rgb), 0.5) !important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary;
    opacity: 1;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary;
    opacity: 1;
  }

  .wpcf7 .ajax-loader::before {
    display: none;
  }

  .wpcf7 .ajax-loader {
    background: url('../img/loading.gif') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 124px;
    height: 36px;
    bottom: -15px;
    border-radius: 0;
    display: inline-block;
  }

  .wpcf7-submit {
    width: auto;
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS loader
::::::::::::::      impostazioni per modificare il loader
::::::::::::::      effetto al caricamento della pagina composto da logo sezioni e loader
::::::::::::::      L'evento che fa avviare è la classe 'loaded' posizionato nel body
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


#main-content {
  filter: blur(13px);
  -webkit-filter: blur(13px);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #main-content {
  filter: unset;
  -webkit-filter: unset;
}

header {
  filter: blur(13px);
  -webkit-filter: blur(13px);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded header {
  filter: unset;
  -webkit-filter: unset;
}


.preload {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
}

/* loader medium */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $white;
  z-index: 83;
  animation: spin 2s linear infinite;
}

/* loader small */
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $white;
  animation: spin 3s linear infinite;
}

/* loader big */
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $white;
  animation: spin 1.5s linear infinite;
}

/* loader logo */
.logo-loader {
  transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 82;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  width: 100px;
  height: 100px;

}

/* loader sections */
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: $primary;
  /*background: rgba(var(--a5t-primary-rgb), 0.4);*/
  z-index: 80;
  transform: translateX(0);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* loader sections directions */
#loader-wrapper .loader-section.section-left {
  left: 0;
  opacity: 1;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(-0deg);
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* loader loaded effect exit */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-in-out;
}

.loaded .logo-loader {
  opacity: 0;
  width: 0px;
  height: 0px;

}


.loaded .loader-background {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 0px;
}

.loader-background {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1140px;
  height: 100vh;

  background: $primary;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 82;
}

.inner-loader-background {

}

.loaded .section-header {
  opacity: 1;
  transition: all 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section-header {
  opacity: 0;
  margin-top: unset;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS gototop
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#gototop-btn {
  display: none;
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0000E5;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS sidenav
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.sidenav.sidenav-open .container {
  opacity: 1;
  transition-delay: 0.0s;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.sidenav.sidenav-close .container {
  opacity: 0;
  transition-delay: 0.5s;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: $secondary;
  overflow-x: hidden;
  transition: 0.5s;
  /*padding-top: 60px;*/
  text-align: center;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS menu mobile
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}


.full-menu-logo {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS equal cols
::::::::::::::      Impostazioni per css
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.row.equal-cols {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
  display: block;
}

.row.equal-cols > [class*='col-'] {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.row.equal-cols > [class*='col-'] > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.row.equal-cols .tease {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS magic-mouse-js
::::::::::::::      Impostazioni per togliere il cursore definitivamente
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid $tertiary;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  pointer-events: none;
}

body #magicMouseCursor.cursor-square {
  border-radius: 0;
}

body #magicPointer {
  height: 8px;
  width: 8px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  background: $tertiary;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}

body #magicPointer.is-hover {
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  position: fixed;
  background: $secondary;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}

body #magicPointer.pointer-blur {
  height: 50px;
  width: 50px;
  background: none;
  border: 1px solid $secondary;
  box-shadow: 0px 0px 15px -5px $secondary;
}

body #magicPointer.pointer-overlay {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  background: $secondary;
  box-shadow: 0px 0px 0px 0px $secondary;
}

body .magic-hover {
  transition: all 0.2s;
}

body .magic-hover:hover {
  cursor: none;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::: 11 * A_SETTINGS progress-js
::::::::::::::      Impostazioni per togliere il cursore definitivamente
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#nprogress .bar {
  background: $secondary;
}

#nprogress .peg {
  box-shadow: 0 0 10px $secondary, 0 0 5px $secondary;
}

#nprogress .spinner-icon {
  border-top-color: $secondary;
  border-left-color: $secondary;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {

}


